---
description: >-
  Different from proof of ownership schemes\cite{Wu1998,Yeung1997}, the
  verification of watermark requires a key. Given an image $J$ and a
  verification key $K_{\mathtt{repr}}$ (c.f.\cref{equ:verificatio
---

# Noise verification

